# ===============================
# Laravel (backend/marryTime)
# ===============================
/backend/marryTime/vendor/
/backend/marryTime/node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
/backend/marryTime/bootstrap/compiled.php
/backend/marryTime/app/storage/

# Laravel 5 & Lumen specific
/backend/marryTime/public/storage
/backend/marryTime/public/hot

# Laravel 5 & Lumen specific with changed public path
/backend/marryTime/public_html/storage
/backend/marryTime/public_html/hot

/backend/marryTime/storage/*.key
/backend/marryTime/.env
/backend/marryTime/.env.*
/backend/marryTime/Homestead.yaml
/backend/marryTime/Homestead.json
/backend/marryTime/.vagrant
/backend/marryTime/.phpunit.result.cache

/backend/marryTime/public/build
/backend/marryTime/storage/pail
/backend/marryTime/.phpactor.json
/backend/marryTime/auth.json 

# ===============================
# Angular (front-end/marryTime)
# ===============================
/front-end/marryTime/node_modules/
/front-end/marryTime/dist/
/front-end/marryTime/.angular/cache

# misc logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Angular build cache
/front-end/marryTime/.angular/
