/* You can add global styles to this file, and also import other style files */
:root {
  --grey: #343a40;
  --yellow: #ffd700;
  --blue: #2563eb;
  --white: #fff;
  --light-grey1: #ccc;
  --light-grey2: #6b7280;
  --black: #111827;
}
