<div class="subscribe">
    <div class="container">
        <div class="row align-items-center grid-per">

            <!-- Newsletter Section -->
            <div class="">
                <div class="section-heading">
                    <h2>Leave a comment </h2>
                    <span>I am intresting to read your advice about Coding </span>
                </div>
                <form #subscribeForm="ngForm" id="subscribeForm">
                    <div class="row w-100">
                        <div class=" w-100">
                            <fieldset class=" w-100">
                                <input name="subject" ngModel type="text" id="name" placeholder="subject" required>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class=" w-100">
                            <fieldset>
                                <textarea name="body" id="text-area" placeholder="body" ngModel required></textarea>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" w-100">
                            <fieldset class="w-100 btn-container">
                                <button type=" button" class="main-dark-button" (click)="sendEmail(subscribeForm)">
                                    <i class="fa fa-paper-plane"></i> Send
                                </button>
                            </fieldset>
                        </div>
                    </div>
                </form>

            </div>

            <!-- Personal Info Section -->
            <div class=" col-md-12 w-100">
                <div class="personal-info">
                    <img src="assets/images/{{ownerInfo.photo}}" alt="My Photo" class="profile-photo">
                    <ul>
                        <li>Location:<br><span>{{ownerInfo.country}}</span></li>
                        <li>Phone:<br><span>{{ownerInfo.phone}} </span></li>
                        <li>Email:<br><span><a href="mailto:{{ownerInfo.email}}">{{ownerInfo.email}} </a></span></li>
                        <li>Social Media:<br>
                            <span>
                                <a href="{{ownerInfo.facebook.link}}">Facebook</a>,
                                <a href="{{ownerInfo.instagram.link}}">Instagram</a>,
                                <a href="{{ownerInfo.linkedin.link}}">LinkedIn</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>