<div class="user-profile-section " id="profile">
    <div class="container-fluid">
        <div class="row">
            <!-- Left -->
            <div class="col-lg-6">
                <div class="profile-left">
                    <div class="profile-thumb">

                        <div class="profile-card" *ngIf="user$ | async as user">
                            <h4>Name: <u>{{ user.name }}</u></h4>
                            <span>Email: {{ user.email }}</span><br>
                            <span>Phone: {{ user.phone }}</span><br>
                            <span>Member since: {{ user.created_at | date:'longDate' }}</span>
                            <div class="photo-container">
                                <img [src]="photo_url+user.photo" alt="profile-picture" class="photo">
                            </div>
                            <div class="profile-button mt-3">
                                <a [routerLink]="route.editProfile" (click)="editProfile()">Edit Profile</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


            <!-- Right -->
            <div class="col-lg-6 Right">
                <div class="profile-right profile-card" *ngIf="user$ | async as user">
                    <!-- If Vendor -->
                    <div class="m-10">
                        <h4>Vendor Details</h4>
                        <div>
                            <ng-container *ngIf="user.vendor as vendorData">
                                @for(vendor of vendors; track vendor){
                                <div class="block">
                                    <p><strong>Company:</strong> {{ vendor?.company_name }}</p>
                                    <p><strong>Location:</strong> {{ vendor?.location }}</p>
                                    <p><strong>Price Range:</strong> {{ vendor?.price_range }}</p>

                                    <h5>Services:</h5>
                                    <ul>
                                        <li *ngFor="let service of vendor?.services">
                                            {{ service.category.name }} - ${{ service.price }}
                                        </li>
                                    </ul>

                                    <h5>Availabilities:</h5>
                                    <ul>
                                        <li *ngFor="let avail of vendor?.availabilities" class="mt-10 avail_decor">
                                            {{ avail.date | date }}: {{ avail.start_time }} - {{ avail.end_time }}
                                            <span *ngIf="!avail.is_available" class="text-danger">(Unavailable)</span>
                                        </li>
                                    </ul>

                                </div>
                                }
                            </ng-container>


                        </div>


                        <!-- If Client -->
                        <h4 class="mt-10">Client Details</h4>
                        <div class="block profile-card">

                            <p><strong>Phone:</strong> {{ user.phone }}</p>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>