<ng-container *ngIf="user$ |async as user ; else headerNotLoggedIn">
    <app-header [user]="user" [currentUrl]="currentUrl"></app-header>
</ng-container>
<ng-template #headerNotLoggedIn>
    <app-header [currentUrl]="currentUrl"></app-header>
</ng-template>



<router-outlet></router-outlet>
<app-alert></app-alert>
<ng-container *ngIf="user$ | async as user; else footerNotLoggedIn">
    <app-footer [user]="user" [currentUrl]="currentUrl"></app-footer>
</ng-container>
<ng-template #footerNotLoggedIn>
    <app-footer [currentUrl]="currentUrl"></app-footer>
</ng-template>