<!-- ***** wedding pictures  Area Starts ***** -->
<section class="section" id="men">
    <app-wedding-pictures></app-wedding-pictures>
</section>
<!-- ***** wedding pictures  Area Ends ***** -->
<section class="section" id='profile-section'>
    <app-user-profile-view *ngIf="user$ | async as user"></app-user-profile-view>
</section>


<!-- ***** vendor task Area Starts ***** -->
<section class="section" id="women" *ngIf="user$ | async as user">
    <app-tasks-board *ngIf="user.role === 'vendor'"></app-tasks-board>
</section>
<!-- ***** vendor task Area Ends ***** -->

<!-- ***** Kids Area Starts ***** -->
<section class="section" *ngIf="user$ | async as user">
    <app-shortcuts [user]="user"></app-shortcuts>
</section>
<!-- ***** Kids Area Ends ***** -->

<!-- ***** Suggest Appointment Area Starts ***** -->
<section class="section">
    <h2 style="padding : 20px ; margin : 10px; text-align: center;">Suggest Appointment </h2>
    <div class="carousel-wrapper" *ngIf="appointments$ | async as appointments">
        <button class="prev" (click)="prev()">&#10094;</button>
        <div class="carousel-container" #carousel>
            <app-suggesting-appointment *ngFor="let a of appointments; let i = index" [appointment]="a"
                class="carousel-card" [id]="'card' + i">
            </app-suggesting-appointment>
        </div>
        <button class="next" (click)="next()">&#10095;</button>
    </div>


</section>
<!-- ***** Suggest Appointment Area Ends ***** -->

<!-- ***** Social Area Starts ***** -->
<app-review *ngIf="user$ | async as user"></app-review>
<!-- ***** Social Area Ends ***** -->
<section class="section">
    <app-personalized></app-personalized>

</section>