<div class="gallery-container">
    <h2 class="title">Wedding Moments 💍</h2>

    <div class="gallery-grid">
        <div class="gallery-item" *ngFor="let photo of photos" (click)="openPhoto(photo)">
            <img [src]="photo_url + photo.photo" alt="not-found">
            <div class="overlay caption">
                <p>{{ photo.caption }}</p>
            </div>
        </div>
    </div>

    <!-- Lightbox -->
    <div class="lightbox" *ngIf="selectedPhoto" (click)="closePhoto($event)">
        <div class="lightbox-content" (click)="$event.stopPropagation()">
            <img [src]="photo_url + selectedPhoto.photo" [alt]="selectedPhoto.caption" class="enlarged-photo img">
            <p class="caption">{{ selectedPhoto.caption }}</p>
            <button class="close-btn" (click)="selectedPhoto = null">✖</button>
        </div>
    </div>
</div>