<div class="links-container section ">
    <ul class="admin-sidebar">
        <li routerLinkActive="active">
            <a [routerLink]="'/'+route.home">Dashboard</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="'/'+route.manageUser">Manage Users</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="'/'+route.vendorsPage">Manage Vendors</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="'/'+route.insertCategory">Categories</a>
        </li>
         <li routerLinkActive="active">
            <a [routerLink]="'/'+route.uploadPhotos">Upload wdding Photos</a>
        </li>
        <li>
            <a [routerLink]="'/'+route.suggest_appointment" routerLinkActive="active">Suggest Appointments</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="'/'+route.notification">Notifications</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="'/'+route.feedbacks">Reviews</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="'/'+route.editProfile">Settings</a>
        </li>
    </ul>
</div>