<div class="links-container section ">
    <ul class="admin-sidebar">
        <li routerLinkActive="active">
            <a routerLink="/admin/dashboard">Dashboard</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/admin/users">Manage Users</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/admin/vendors">Manage Vendors</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/admin/categories">Categories</a>
        </li>
        <li>
            <a [routerLink]="'/'+route.suggest_appointment" routerLinkActive="active">Suggest Appointments</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/admin/packages">Packages</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/admin/notifications">Notifications</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/admin/reviews">Reviews</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/admin/settings">Settings</a>
        </li>
    </ul>
</div>