.app-footer {

  color: var(--white);
  margin-top: 0;
  font-family: Arial, sans-serif;
}

.app-footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}

.app-footer .footer-logo img {
  width: 200px;
  object-fit: cover;
  height: 100px;
  border-radius: 10px;
}

.app-footer .footer-links a {
  display: block;
  color: inherit;
  text-decoration: none;
  margin: 5px 0;
  transition: color 0.3s;
}

.app-footer .footer-links a:hover {
  color: var(--yellow);
}

.app-footer .footer-contact p {
  margin: 5px 0;
  color: inherit;
}

.app-footer .footer-social a img {
  height: 30px;
  margin-right: 10px;
  transition: transform 0.3s;
}

.app-footer .footer-social a img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.footer-bottom p {
  color: inherit;
}

/* Responsive */
@media (max-width: 768px) {
  .app-footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .app-footer .footer-social a img {
    margin: 10px 5px;
  }
}
