<header class="app-header1">
    <div class="container1">
        <div class="logo1">
            <a routerLink="/"><img src="assets/images/logo.png" alt="MarryTime Logo"></a>
        </div>

        <nav class="nav-links1" [class.show]="menuOpen">
            <a routerLink="/" routerLinkActive="active">Home</a>
            <a routerLink="/vendors" routerLinkActive="active">Vendors</a>
            <a routerLink="/appointments" routerLinkActive="active">Appointments</a>
            <a *ngIf="!user" routerLink="/user/register" routerLinkActive="active">Register</a>
            <a *ngIf="!user" routerLink="/user/login" routerLinkActive="active">Login</a>
            <a *ngIf="user" (click)="logout()" routerLinkActive="active">Logout</a>


        </nav>

        <div class="hamburger" (click)="toggleMenu()">
            &#9776;
        </div>
    </div>
</header>
