.section {
  background-color: var(--cream);
}
.h-100 {
  height: 100%;
}
.table-container {
  padding: 10px;
}
.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container td,
.table-container th {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.table-container th {
  background-color: var(--dark-purple);
  color: var(--white1);
}

.table-container tr:nth-child(even) {
  background-color: var(--light-purple);
}
.table-container tr:nth-child(odd) {
  background-color: var(--light-purple-subtle);
}

.table-container tr td button {
  padding: 10px;
  font-size: 1.4rem;
  margin: 8px;
  width: 50%;
  max-width: 150px;
}

/* select */
.custom-select-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.custom-select-wrapper label {
  margin-bottom: 5px;
  font-weight: bold;
}

.custom-select {
  padding: 2px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1.4rem;
  background-color: #fff;
  appearance: none; /* remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Optional: Add a custom arrow */
.custom-select-wrapper {
  position: relative;
}

@media (max-width: 900px) {
  .table-container td,
  .table-container th,
  .table-container tr td button {
    font-size: 1rem;
  }
}
