<h2>Users List</h2>

<div *ngIf=" loading">Loading users...</div>
<div *ngIf="error" class="error">{{ error }}</div>
<div class="table-container">
    <div class="custom-select-wrapper">
        <label for="userRole">Select Role:</label>
        <select id="userRole" class="custom-select" (change)="fetchUsers($event)">
            <option value="" selected>All</option>
            <option value="Deleted">Deleted</option>
            <option value="Available">Available</option>
        </select>
    </div>

    <table *ngIf="users.length > 0" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <ng-container *ngIf="user.role !== 'admin'">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.created_at | date:'short' }}</td>
                    <td>@if(!user.deleted_at){
                        <button class="btn btn-info" (click)="toggleRole(user.id)">
                            {{user.role === 'client' ?
                            'Make Vendor' : 'Make Client'}}</button>
                        <button (click)="deleteUser(user.id)" class="btn btn-danger" style="margin-top: 5px;"> Detele
                            User</button>}
                        @else {
                        <button class="btn btn-success" (click)="Restore(user.id)">Restore </button>
                        }
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>