/* You can add global styles to this file, and also import other style files */
:root {
  /* whites */
  --white: #fff;
  --white1: #f8f8f8;
  --light-grey0: #d1d5db;
  --light-grey-subtle: #ccc;

  /* yellow */
  --yellow: #ffd700;

  --light-grey2: #6b7280;
  --grey: #343a40;

  --blue: #5dade2;

  --black: #111827;
  --red: #a63946;

  /* main colors */
  --dark-purple: #6b3f69;
  --dark-purple-subtle: #8d5f8c;
  --light-purple-subtle: #c395c2;
  --purple: #9a73c2;
  --light-purple: #d1bce3;
  --cream: #ddc3c3;
}
body {
  background-color: var(--cream);
}
html {
  font-size: 12px;
}

.btn-main {
  background-color: var(--blue);
  color: var(--white);
}

.center {
  text-align: center !important;
}

.main-width {
  width: 70% !important;
}
.w-100 {
  width: 100%;
}

.m-center {
  margin: 0 auto;
}
.p-20 {
  padding: 20px;
}

.white {
  color: var(--white);
}
