/* You can add global styles to this file, and also import other style files */
:root {
  /* whites */
  --white: #fff;
  --white1: #f8f8f8;
  --light-grey0: #d1d5db;
  --light-grey1: #ccc;

  /* yellow */
  --yellow: #ffd700;
  
  --light-grey2: #6b7280;
  --grey: #343a40;

  --blue: #2563eb;

  --black: #111827;
  --red: #e63946;
}

.section {
  width: 82%;
}

.sidebar {
  width: 18%;
}

.w-90 {
  width: 90%;
}
