<div class="dashboard-layout">
    <ng-container *ngIf="user$ |async as user ; else headerNotLoggedIn">

        <app-header class="header" [user]="user" [currentUrl]="currentUrl"></app-header>
        <app-side-bar class="sidebar" [user]="user" [currenUrl]="currentUrl"></app-side-bar>
    </ng-container>

    <ng-template #headerNotLoggedIn>
        <app-header class="header" [currentUrl]="currentUrl"></app-header>
        <app-side-bar class="sidebar" [currenUrl]="currentUrl"></app-side-bar>
    </ng-template>


    <!-- Main Content -->
    <main class="main-content">
        <router-outlet></router-outlet>
    </main>




    <ng-container *ngIf="user$ | async as user; else footerNotLoggedIn">
        <app-footer class="footer" [user]="user" [currentUrl]="currentUrl" [style]="footerStyle"></app-footer>
    </ng-container>

    <ng-template #footerNotLoggedIn>
        <app-footer class="footer" [currentUrl]="currentUrl"></app-footer>
    </ng-template>

</div>
<app-alert></app-alert>