<section class="section blur" id="login">
    <div class="child">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-heading text-center">
                        <h2>Login</h2>
                        <span>Enter your credentials to access your account</span>
                    </div>

                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="section">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" formControlName="email" placeholder="Enter your email"
                                class="form-control">
                            <div class="text-danger"
                                *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
                                <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is
                                    required.</small>
                                <small *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email
                                    address.</small>
                                @if(loginForm.get('email')?.hasError('server')){
                                <small class="text-danger">{{loginForm.get('email')?.getError('server')}}</small>
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" formControlName="password"
                                placeholder="Enter your password" class="form-control">
                            <div class="text-danger"
                                *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                                <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is
                                    required.</small>
                                <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at
                                    least 6 characters.</small>
                                @if(loginForm.get('password')?.hasError('server')){
                                <small class="text-danger">{{loginForm.get('password')?.getError('server')}}</small>
                                }
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>