.blur {
  border: 1px solid black;
  width: 600px;
  margin: 20px auto;
  background-color: white;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 10px;
}

.height {
  height: 50vh;
}

.child {
  width: 100%;
  background-color: rgba(52, 58, 64, 0.633);
  border-radius: 10px;
  height: 100%;
}

.password-group {
  position: relative;
  margin-bottom: 1rem;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding-right: 2.5rem; /* space for icon */
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  width: 24px; /* adjust size */
  height: 24px;
  cursor: pointer;
}
