.edit-profile-container {
  max-width: 600px;
  margin: 40px auto;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.edit-profile-container h2 {
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-control,
select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.photo-preview {
  margin-bottom: 10px;
  padding: 10px;
  width: max-content;
  background-color: #eee;
  border-radius: 30%;
}
.photo-preview img {
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.btn-save {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn-save:disabled {
  background: #9e9e9e;
  cursor: not-allowed;
}
